@model AdvanceInsertDTO
@{
    ViewData["Title"] = "AddAdvance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Modernize Free</title>
    <link rel="shortcut icon" type="image/png" href="~/modernize/src/assets/images/logos/favicon.png" />
    <link rel="stylesheet" href="~/modernize/src/assets/css/styles.min.css" />
</head>

<body>

    <div class="card-body">

        <h5 class="card-title fw-semibold mb-4">Disabled forms</h5>
        <div class="card mb-0">
            <div class="card-body">
                <form asp-controller="Advance" asp-action="AddAdvance" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="EmployeeId" />

                    <div class="form-group">
                        <label asp-for="AdvanceAmount">Avans Miktarı</label>
                        <input asp-for="AdvanceAmount" class="form-control" />
                        <span asp-validation-for="AdvanceAmount" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="AdvanceDescription">Avans Açıklaması</label>
                        <input asp-for="AdvanceDescription" class="form-control" />
                        <span asp-validation-for="AdvanceDescription" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="DesiredDate">Avansı Talep Ettiğiniz Tarih</label>
                        <input asp-for="DesiredDate" type="date" class="form-control" />
                        <span asp-validation-for="DesiredDate" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ProjectId">Projeler</label>
                        <select asp-for="ProjectId" class="form-control">
                            <option value="">Proje Seçiniz</option>
                            @foreach (var project in ViewBag.Project)
                            {
                                <option value="@project.Id">@project.ProjectName</option>
                            }
                        </select>
                    </div>


                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Ekle</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script src="~/modernize/src/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/modernize/src/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>


